<div class="col-md-4"></div>
<center><div class= "col-md-3" style="border: 1px solid black; border-radius:2em; align:center; top:5em; background-color:#F9F9F9;" >
<h1 style="//background-color:#f2f2f2;"1>Log In</h1><!-- <hr style="height:2px;"> -->
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :username %><br />
    <%= text_field_tag :username, params[:username] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>
</div></center>